# Rule Wiki: https://clash.wiki/configuration/rules.html
version = "1.25.3"

[default]
type = "DOMAIN-SUFFIX"  # Rule Type. "DOMAIN-SUFFIX" | "PROCESS-NAME" | "DOMAIN-KEYWORD"
arg = ""  # Rule Argument
policy = "PROXY"  # Rule Policy. "PROXY" | "DIRECT" | "REJECT"
blocked = false  # Blocked by GFW
redirected = false  # Redirected by GFW
desc = ""  # Description
enabled = true  # Rule Enabled


# General::Information
[[rules]]
arg = "google.com"
blocked = true
desc = "For Google"

[[rules]]
arg = "clash.wiki"
blocked = true
desc = "For Clash Wiki"

[[rules]]
arg = "z-lib.gs"
desc = "For Z-Library"

[[rules]]
arg = "z-library.sk"
desc = "For Z-Library"

[[rules]]
arg = "go-to-library.sk"
blocked = true
desc = "For Z-Library"

[[rules]]
arg = "fcdn.sk"
desc = "For Z-Library"
blocked = true

[[rules]]
arg = "bing.com"
redirected = true
desc = "For Bing"

[[rules]]
arg = "cn.bing.com"
policy = "DIRECT"
desc = "For Bing"

[[rules]]
arg = "bingapis.com"
blocked = true
desc = "For Bing"

[[rules]]
arg = "readest.com"
blocked = true
desc = "For Readest"


# General::Note-Taking
[[rules]]
arg = "notion.vip"
desc = "For Notion Fansite"

[[rules]]
arg = "notion.so"
desc = "For Notion"

[[rules]]
arg = "notion.com"
desc = "For Notion"

[[rules]]
arg = "notion.site"
desc = "For Notion"

[[rules]]
arg = "notion-static.com"
desc = "For Notion"

[[rules]]
arg = "notionusercontent.com"
desc = "For Notion"

[[rules]]
arg = "sentry.io"
blocked = true
desc = "For Notion/OpenAI"

[[rules]]
arg = "appflowy.com"
blocked = true
desc = "For Appflowy"

[[rules]]
arg = "heptabase.com"
blocked = true
desc = "For Heptabase"

[[rules]]
arg = "yazio.com"
desc = "For Yazio"

[[rules]]
arg = "digitaloceanspaces.com"
desc = "For AnyType"

[[rules]]
arg = "grid.is"
blocked = true

[[rules]]
arg = "agilebits.com"
blocked = true
desc = "For 1Password"

[[rules]]
arg = "calibre-ebook.com"
desc = "For Calibre"

[[rules]]
arg = "pronotes.app"
blocked = true
desc = "For ProNotes App"

[[rules]]
arg = "pystyle.info"
blocked = true
desc = "For Pystyle Mahjong Apps"


# General::Cloud
[[rules]]
arg = "amazonaws.com"
blocked = true

[[rules]]
arg = "cloudflare.com"

[[rules]]
arg = "hcaptcha.com"

[[rules]]
arg = "recaptcha.net"

[[rules]]
arg = "bootstrapcdn.com"
blocked = true
desc = "For Bootstrap"

[[rules]]
arg = "vsassets.io"
blocked = true
desc = "For VSCode"


# General::Tool
[[rules]]
arg = "gopeed.com"
blocked = true
desc = "For Gopeed Downloader"

[[rules]]
arg = "folivora.ai"
desc = "For BetterTouchTool"

[[rules]]
arg = "discord.com"
blocked = true
desc = "For Discord"

[[rules]]
arg = "discord.gg"
blocked = true
desc = "For Discord"

[[rules]]
arg = "discord.media"
blocked = true
desc = "For Discord"

[[rules]]
arg = "discordapp.com"
blocked = true
desc = "For Discord"

[[rules]]
arg = "discordapp.net"
blocked = true
desc = "For Discord"

[[rules]]
arg = "discordstatus.com"
blocked = true
desc = "For Discord"

[[rules]]
type = "PROCESS-NAME"
arg = "Discord.exe"
blocked = true
desc = "For Discord on Windows"

[[rules]]
arg = "download-installer.cdn.mozilla.net"
desc = "For Firefox"

[[rules]]
arg = "archive.mozilla.org"
desc = "For Firefox"

[[rules]]
arg = "us2-dl.techpowerup.com"
desc = "For GPU-Z"

[[rules]]
arg = "sm.ms"
blocked = true
desc = "For SM.MS"

[[rules]]
arg = "s2.loli.net"
blocked = true
desc = "For SM.MS"

[[rules]]
type = "PROCESS-NAME"
arg = "zed.exe"
blocked = true
desc = "For Zed on Windows"

[[rules]]
arg = "zoom.com"
desc = "For Zoom"

[[rules]]
arg = "zoom.us"
blocked = true
desc = "For Zoom"

[[rules]]
arg = "optimizely.com"
redirected = true
desc = "For Zoom"

[[rules]]
arg = "nluug.nl"
desc = "For RTSS FPS Monitor"

[[rules]]
arg = "canva.com"
redirected = true
desc = "For Canva"


# General::Entertainment
[[rules]]
arg = "tiktok.com"
blocked = true
desc = "For TikTok"

[[rules]]
arg = "tiktokcdn.com"
blocked = true
desc = "For TikTok"

[[rules]]
arg = "xmanhua.com"
blocked = true
desc = "For XManhua"

[[rules]]
arg = "mangafuna.xyz"
desc = "For Venera"

[[rules]]
type = "DOMAIN-KEYWORD"
arg = "missa"

[[rules]]
arg = "plyr.io"
blocked = true
desc = "For Plyr Media Player"

[[rules]]
arg = "p5yy.com"
blocked = true

[[rules]]
type = "DOMAIN-KEYWORD"
arg = "ingpinz"
blocked = true
desc = "For p5yy"

[[rules]]
arg = "x.com"
blocked = true
desc = "For Twitter"

[[rules]]
arg = "tomtoc.com"
blocked = true
desc = "For Tomtoc"

[[rules]]
arg = "bsky.app"
blocked = true
desc = "For Bluesky Social"

[[rules]]
arg = "tieba.baidu.com"
desc = "For Baidu Tieba Fake IP"
enabled = false


# General::AI
[[rules]]
type = "IP-CIDR"
arg = "13.107.21.0/8"
blocked = true
desc = "For Bing AI"

[[rules]]
type = "IP-CIDR"
arg = "204.79.197.0/24"
blocked = true
desc = "For Bing AI"

[[rules]]
arg = "openai.com"
redirected = true
desc = "For OpenAI"

[[rules]]
arg = "openai.io"
redirected = true
desc = "For OpenAI"

[[rules]]
arg = "civitai.com"
blocked = true
desc = "For Civit AI"

[[rules]]
arg = "claude.ai"
redirected = true
desc = "For Claude AI"

[[rules]]
arg = "phind.com"
blocked = true
desc = "For Phind AI"

[[rules]]
arg = "poe.com"
blocked = true
desc = "For Poe AI"

[[rules]]
arg = "poecdn.net"
blocked = true
desc = "For Poe AI"

[[rules]]
arg = "chatgpt.com"
blocked = true
desc = "For ChatGPT"

[[rules]]
arg = "openart.ai"
blocked = true
desc = "For OpenArt AI"


# General::Programming
[[rules]]
arg = "unpkg.com"
desc = "For NPM"

[[rules]]
arg = "docker.com"
blocked = true
desc = "For Docker"

[[rules]]
arg = "github.com"
desc = "For GitHub"

[[rules]]
arg = "github.io"
desc = "For GitHub"

[[rules]]
arg = "githubusercontent.com"
blocked = true
desc = "For GitHub"

[[rules]]
arg = "githubassets.com"
desc = "For GitHub"

[[rules]]
arg = "githubcopilot.com"
desc = "For GitHub Copilot"

[[rules]]
arg = "ghcr.io"
desc = "For GitHub Container Registry"
policy = "DIRECT"

[[rules]]
arg = "scoop.sh"
desc = "For Scoop"
blocked = true

[[rules]]
arg = "wireshark.org"
blocked = true
desc = "For Wireshark"

[[rules]]
arg = "starship.rs"
desc = "For Starship Prompt"

[[rules]]
arg = "readthedocs.io"
desc = "For ReadTheDocs"

[[rules]]
arg = "calmcode.io"
desc = "For CalmCode"

[[rules]]
arg = "zed.dev"
desc = "For Zed"

[[rules]]
arg = "brew.sh"
desc = "For Homebrew"

[[rules]]
arg = "gitbook.io"
desc = "For GitBook"

[[rules]]
arg = "astral.sh"
blocked = true
desc = "For uv"

[[rules]]
arg = "pythonhosted.org"
desc = "For uv"

[[rules]]
arg = "python.org"
desc = "For Python"

[[rules]]
arg = "idx.dev"
desc = "For Google IDX"

[[rules]]
arg = "hello-algo.com"
desc = "For GitHub Hello Algo Repository"
blocked = true


# Game::General
[[rules]]
arg = "mod.io"
blocked = true

[[rules]]
arg = "nexusmods.com"
blocked = true
desc = "For Nexus Mods"

[[rules]]
arg = "steampowered.com"
blocked = true
desc = "For Steam"

[[rules]]
arg = "vrchat.com"
blocked = true
desc = "For VRChat"

[[rules]]
arg = "satisfactory-calculator.com"
desc = "For Satisfactory"

[[rules]]
arg = "icy-veins.com"
blocked = true
desc = "For Icy Veins"


# Game::Nintendo
[[rules]]
arg = "nintendo.net"
blocked = true
desc = "For Nintendo"

[[rules]]
arg = "sendou.ink"
desc = "For Splatoon"

[[rules]]
arg = "nookea.com"
blocked = true
desc = "For Animal Crossing"

[[rules]]
arg = "52poke.com"
blocked = true
desc = "For Pokemon Wiki"


# Game::FF14
[[rules]]
arg = "xivanalysis.com"
blocked = true
desc = "For FF14 XIVAnalysis"

[[rules]]
arg = "universalis.app"
desc = "For FF14 Universalis"


# Game::Star Citizen
[[rules]]
arg = "play.sc"
desc = "For Star Citizen"

[[rules]]
arg = "starcitizen.tools"
desc = "For Star Citizen Wiki"

[[rules]]
arg = "sc-trade.tools"
desc = "For Star Citizen"

[[rules]]
arg = "scorg.tools"
desc = "For Star Citizen"

[[rules]]
arg = "ccugame.app"
desc = "For Star Citizen"

[[rules]]
arg = "erkul.games"
desc = "For Star Citizen"
blocked = true

[[rules]]
arg = "uexcorp.space"
desc = "For Star Citizen"
blocked = true

[[rules]]
arg = "citizenwiki.cn"
desc = "For Star Citizen Wiki CN"
blocked = true


# Game::Blizzard
[[rules]]
arg = "d2jsp.org"
desc = "For Diablo 2"
policy = "DIRECT"

[[rules]]
arg = "maxroll.gg"
desc = "For Diablo/Last Epoch"

[[rules]]
arg = "planner-assets.com"
desc = "For Diablo"

[[rules]]
arg = "battle.net"
desc = "For Blizzard"

[[rules]]
arg = "heroesprofile.com"
desc = "For Heroes of the Storm"


# Game::Epic
[[rules]]
arg = "epicgames.com"
blocked = true
desc = "For Epic"

[[rules]]
arg = "epicgames.dev"
blocked = true
desc = "For Epic"

[[rules]]
arg = "epicgames.net"
blocked = true
desc = "For Epic"

[[rules]]
arg = "unrealengine.com"
blocked = true
desc = "For Epic"

# Game::TreeOfSavior
[[rules]]
arg = "tosm.kr"
desc = "For Tree of Savior"

[[rules]]
type = "PROCESS-NAME"
arg = "TreeOfSaviorM.exe"
blocked = true
desc = "For Tree of Savior on Windows"
